@model List<WeGoMigration.Entities.GetAllJobPosted>
@{
    ViewData["Title"] = "Jobs Master";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<div class="table-responsive">
    <div class="col-xs-12">
        <a href="/Admin/Index" class="btn-info">DashBoard</a>
        <button class="btn btn-dark" id="addJob">Add JOB</button>
        <input type="hidden" id="hiddenPostId" />
        <input type="hidden" id="hiddenJobMasterId" />
        <div class="modal fade" tabindex="-1" id="loginModal"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            ×
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3 required">Company Name</div>
                                    <div class="col-md-9">
                                        <input class="form-control" type="text" id="companyName" onkeyup="validateCompanyName()" />
                                        <span id="companyerror" class="error text-danger" style="display:none">Company Name Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3 required">Job Description</div>
                                    <div class="col-md-9">
                                        <textarea class="form-control" type="text" id="jobDescription" onkeyup="validateJobDescription()"></textarea>
                                        <span id="jobdescriptionerror" class="error text-danger" style="display:none">Job Description Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">Is Full Time</div>
                                    <div class="col-md-9">
                                        <input type="radio" name="isfulltime" value="yes" checked /> YES
                                        <input type="radio" name="isfulltime" value="no" /> NO
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">Is WFH</div>
                                    <div class="col-md-9">
                                        <input type="radio" name="iswfh" value="yes" checked /> YES
                                        <input type="radio" name="iswfh" value="no" /> NO
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">Is OnSite</div>
                                    <div class="col-md-9">
                                        <input type="radio" name="isonsite" value="yes" checked /> YES
                                        <input type="radio" name="isonsite" value="no" /> NO
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary button button4" id="submit">Save Details</button>
                        <button type="button" id="btnHideModal" class="btn btn-primary button button4" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" value="Delete" class="btn btn-danger" onclick="deletePost()" />
                    </div>
                </div>
            </div>
        </div>
        <table id="demoGrid" class="table table-hover center" style="width:50%">
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="10">No User's found.</td>
                </tr>

            }
            else
            {
                <thead>
                    <tr class="danger">
                        <th>Company Name</th>
                        <th>Job description</th>
                        <th>Is FullTime</th>
                        <th>Is WFH</th>
                        <th>Is Onsite</th>
                        <th>CreatedBy</th>
                        <th>CreatedOn</th>
                        <th>Email</th>
                        <th>RecuterEmail</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CompanyName</td>
                        <td>@item.Jobdescription</td>
                        <td>@item.IsFullTime</td>
                        <td>@item.IsWFH</td>
                        <td>@item.IsOnsite</td>
                        <td>@item.CreatedBy</td>
                        <td>@item.CreatedOn</td>
                        <td>@item.Email</td>
                        <td>@item.RecuterEmail</td>
                        <td><i class="fa fa-pencil" aria-hidden="true" onclick="editPost(@item.JobMasterId)"></i></td>
                        <td><i class="fa fa-trash" aria-hidden="true" onclick="confirmDelete(@item.JobMasterId)"></i></td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //$(".menu-icon a").click(function () {
        //    $(".off-canvas-menu").toggleClass("menu-in");
        //});
        //$(".off-canvas-close").click(function () {
        //    $(".off-canvas-menu").removeClass("menu-in");
        //});

        $("#addJob").click(function () {
            $('#hiddenJobMasterId').val(0);
            $("#loginModal").modal('show');
        });

        $("#addJob").click(function () {
            $("#loginModal").modal('hide');
        });



        $('#submit').click(function () {
            var companyName = $('#companyName').val();
            var jobDescription = $('#jobDescription').val();
            var isFullTime = $("input[name='isfulltime']:checked").val();
            var isWfhTime = $("input[name='iswfh']:checked").val();
            var isonsite = $("input[name='isonsite']:checked").val();
            if (companyName != '' && jobDescription != '') {
                var addJobDetails = {
                    JobMasterId: $('#hiddenJobMasterId').val(),
                    CompanyName: companyName,
                    Jobdescription: jobDescription,
                    IsFullTime: isFullTime,
                    IsWFH: isWfhTime,
                    IsOnsite: isonsite,
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("InsertUpdatePostJob", "Job")',
                    data: JSON.stringify(addJobDetails),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        location.reload();
                    },
                    error: function (result) {
                        //alert("fail");
                    }
                });
            }
            else {
                if (companyName == '') { $("#companyerror").show(); }
                if (jobDescription == '') { $("#jobdescriptionerror").show();}
            }
        });

    });
    function editPost(id) {
        $.ajax({
            type: "GET",
            url: "/Job/GetPostJob?postId=" + id,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $('#hiddenJobMasterId').val(id);
                $("#loginModal").modal('show');
                $('#companyName').val(response[0].companyName);
                $('#jobDescription').val(response[0].jobdescription);
                response[0].isFullTime ? $("input[name='isfulltime'][value='yes']").prop("checked", "checked") : $("input[name='isfulltime'][value='no']").prop("checked", "checked");
                response[0].isWFH ? $("input[name='iswfh'][value='yes']").prop("checked", "checked") : $("input[name='iswfh'][value='no']").prop("checked", "checked");
                response[0].isOnsite ? $("input[name='isonsite'][value='yes']").prop("checked", "checked") : $("input[name='isonsite'][value='no']").prop("checked", "checked");
            },
            failure: function (response) {
                alert(response.d);
            },
            error: function (response) {
                alert(response.d);
            }
        });
    }

    function confirmDelete(id) {
        $("#deleteModal").modal('show');
        $('#hiddenPostId').val(id);
    }
    function deletePost() {
        $.ajax({
            type: "GET",
            url: "/Job/DeletePostJob?postId=" + $('#hiddenPostId').val(),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                location.reload();
                //console.log(response)
            },
            failure: function (response) {
                //alert(response.d);
            },
            error: function (response) {
                //alert(response.d);
            }
        });
    }
    function validateCompanyName() {
        if ($('#companyName').val() == '') { $("#companyerror").show(); }
        else { $("#companyerror").hide();}
    }
    function validateJobDescription() {
        if ($('#jobDescription').val() == '') { $("#jobdescriptionerror").show(); }
        else { $("#jobdescriptionerror").hide();}
    }
</script>
